    .modal.addNew_client-class{
        display:block;
        opacity: 1;
        .divider{
            border: 1px solid #F0F2F5;
        }
        .accordion{
            margin-top: 3rem;
        }
        @media screen  and (max-width:768px){
            overflow-y: auto;
            .d-flex{
                flex-direction: column !important;
                align-items: flex-start !important;
            }
        }
        .accordion-button:not(.collapsed)::after{
            position: absolute;
            right: 2%;
        }
        .accordion-button::after{
            position: absolute;
            right: 2%;
        }
        .accordion-button:not(.collapsed) {
            border-left: none;
            border-right: none;
            background: transparent;
        }
        .addnew_address{
            background: #F0F2F5;
            width: 10rem;
            height: 4rem;
            border-radius: 30px;
            display: flex;
            justify-content: center;
            // font-family: 'reg' !important;
            align-items: center;
        }
        .accordion-button:focus{
            border-color: #C6CFD9;
        }
        .accordion-collapse{
            border: none;
        }
        .accordion-button{
            border-left: none;
            border-color: #C6CFD9;
            border-right: none;
            background: transparent;
            span{
                margin-right: 2rem;
                font-size: 1.6rem;
                font-weight: bold;
                color: #1877F2;
                // font-family: 'reg' !important;
            }
        }
    }
