.inovice-discount-vOne {
    padding: 0px;
    .popup--invoice--header {
  background-color: #F5F5F5;

        svg {
            margin-left: 1rem;
        }
    }

    display: block;

    .removeDiscount {
        background: #FFEFF0;
        /* padding: 1rem; */
        border-radius: 29px;
        height: 4em;
        width: 12em;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        svg {
            right: -5px;
            position: relative;
        }

        span {
            color: #FF6B73;
            font-size: 1.4em;
            right: -5px;
            position: relative;
        }
    }

    .popup--invoice--body-value--inputs-container {
        border: 1px solid #C6CFD9;
        height: 5rem;
        border-radius: 10px;
        margin: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            border-bottom: none;
            height: 95%;
            width: 71%;
        }

        label {
            font-size: 16px;
            margin: 0 7px;
            color: #4080FF;
        }
    }

    .sale-number {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .lineThrough {
            text-decoration: line-through;
        }

        span {
            font-size: 1.7em;
        }
    }
}