.change-view-menu {
    display: none;
    width: 20em;
    height: auto;
    z-index: 2222;
    top: 6.5rem;
    left: 0;
    border-radius: 0.8em;
    background-color: #ffffff;
    position: absolute;
    overflow: hidden;
    padding: 10px 0;
    box-shadow: 0px -1px 5px rgba(0,0,0,0.12);
    
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            font-size: 1.4em;
            cursor: pointer;
            height: 3.5em;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            svg{
                padding-right: 1rem;
                margin-left: 1rem;
            }
            &:hover{
                background-color: #EBF6FF;
            }
        }
    }
}