.control-panel {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #fff;

    &__header {
        display: flex;
        align-items: center;
        height: 52px;
        color: #fff;
        background-color: #1877F2;
        padding: 5px 16px;

        @media (max-width: 767px) {
            display: none;
        }
    }

    &__title {
        font-family: 'NotoSansArabic_Medium';
        font-size: 15px;
        margin-bottom: 0;
    }

    &__body {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    &__content {
        height: 100%;

        &:empty {
            background-image: url(../images/empty-bar.svg);
            background-repeat: no-repeat;
            background-position: center 60px;
        }
    }

    &__bottom-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #fff;
        z-index: 999;
        box-shadow: 0px -1px 5px rgba(0,0,0,0.12);
        border-top-left-radius: 16px;
        border-top-right-radius: 16px;
        margin-top: auto
    }
}



.appbar {
    font-size: 10px;

    &.invoice {
        justify-content: space-between;
        flex-direction: row;
        .appbar {
            font-size: 10px;
            &-number {
                @include flex-center;
                font-size: 1.4em;
                width: 15%;
                justify-content: space-evenly;
                left: 33px;
                position: relative;
                span {
                    font-size: 15px;
                    font-family: 'NotoSansArabic_SemiBold';
                }
                &--box {
                    @include flex-center;
                    width: 36px;
                    height: 40px;
                    font-family: 'NotoSansArabic_Medium';
                    font-size: 1rem;
                    border: 2px solid #fff;
                    border-radius: 6px;
                    // @media screen and (min-width: 1500px) and (max-width: 1600px){
                    //     width: 5rem;
                    //     height: 5.643rem;
                    //     left: 30px;
                    // }
                }
            }

            &-menu-btn {
                width: 4.2em;
                height: 4.2em;
                border-radius: 50%;
                @include flex-center;
                cursor: pointer;

                svg {
                    circle {
                        fill: #fff;
                    }

                    transform: rotate(90deg);
                    width: 50%;
                    height: 50%;
                }

                &:hover {
                    background-color: $darkBlue;
                }
            }
        }
    }

    &-menu {
        display: none;
        width: 32em;
        // height: 45.2em;
        height: auto;
        z-index: 2222;
        top: 102%;
        left: 0px;
        border-radius: 0.8em;
        background-color: #fff;
        position: absolute;
        box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.16);
        overflow: hidden;
        padding: 10px 0;
        ul {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-direction: column;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            list-style: none;

            li {
                width: 100%;
                cursor: pointer;
                height: 7.2em;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                padding: 0 2em 0 0;

                &:hover {
                    background-color: $veryLightBlue;

                }

                a {
                    height: 100%;
                    width: 100%;
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    flex-direction: row-reverse;
                    cursor: pointer;
                    text-decoration: none;

                    span {
                        color: $black;
                        // font-family: 'reg';
                        padding: 0 0.5em 0 0;
                        font-size: 1.6em;
                        &.delete {
                            color: $red;
                        }
                    }
                }
            }
        }

    }

}