.aman-page
    .btn-primary
        &:hover
            background-color: darken($color-brand-aman, 10%)
            border-color: darken($color-brand-aman, 10%)

        &:disabled
            background-color: lighten($color-brand-aman, 10%)
            border-color: lighten($color-brand-aman, 10%)

        &:active, &:focus
            background-color: darken($color-brand-aman, 15%)
            border-color: darken($color-brand-aman, 15%)

    .page__layout
        $color-brand: $color-brand-aman
        --color-brand: #{map-get($variables, color-brand-aman)}
        display: grid

        .form-control,
        .form-select
            &:focus
                +var(border-color, color-brand-aman)
                box-shadow: 0 0 0 0.25rem lighten($color-brand-aman, 30%)

        & > header
            +var(background-color, color-brand-aman)
            color: $color-white

            .page__title
                color: $color-white

            .main-menu__toggle
                svg
                    fill: $color-white

        .search__bar
            justify-content: space-between
            padding: 0.25rem 1.8rem

            .search__bar__input
                max-width: 474px

            .credit__balance
                span
                    font-size: 19

                    &:last-child
                        font-family: 'NotoSansArabic_SemiBold'

            .reload__btn
                +flex-center
                width: 36px
                height: 36px
                border-radius: 8px

                svg
                    width: 25px

                &:hover
                    background-color: #C6CFD9

        section
            height: calc(100vh - 104px)

        .control-panel
            .control-panel__content:empty
                background-image: none

    .spinner
        display: none
        margin: 125px auto 170px

.services
    display: grid
    grid-template-columns: repeat(4, 1fr) 3fr
    grid-template-rows: 100%
    gap: 24px
    height: 100%
    padding: 0 28px

    @media (min-width: 1200px)
        grid-template-columns: repeat(4, 1fr) minmax(430px, 2fr)

    &__group
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: auto 1fr
        align-content: start

        &__header
            font-size: 12px
            margin-bottom: 8px

            a
                @include var(color, color-text-primary)
                width: 100%
                height: 48px
                border-radius: 4px
                padding: 0.688rem 1rem

                &:hover
                    @include var(color, color-text-primary)
                    background-color: #E3E3E3

        &__list
            overflow: hidden
            +scroll-bar

        &:not(.collapsed)
            .services__group__list
                overflow-y: auto

        &__item
            font-size: 12px
            text-align: center
            background-color: $color-white
            border: 1px solid #E2E9F0
            border-radius: 8px
            margin-bottom: 8px

            &:last-child
                margin-bottom: 15px

            a
                display: flex
                align-items: center
                color: inherit
                text-decoration: none
                padding: 1.2rem 0.98rem

                .services__item__icon
                    width: 32px
                    height: 32px
                    margin-left: 10px

                    img, svg
                        width: 100%
                        height: 100%

                svg
                    margin-right: auto

.key__buttons
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    gap: 10px 30px
    padding: 20px 10px 24px

    .key__btn
        flex: 1 0 25%
        background-color: #F0F2F5
        font-family: 'NotoSansArabic_Medium'
        font-size: 15px
        border-radius: 8px
        border: none
        padding: 0.613rem 0.85rem
        transition: background-color 0.3s

        svg
            fill: #C6CFD9
            transition: fill 0.3s

        &:hover
            background-color: darken(#F0F2F5, 10%)

            svg
                fill: darken(#C6CFD9, 25%)

.receipt
    padding: 10px 24px

    li
        display: flex
        justify-content: space-between
        align-items: center
        height: 48px
        padding: 10px 24px

        &:hover
            background-color: #F5F5F5

        &:first-child
            border-bottom: 1px solid #F0F2F5

        span
            &:first-child
                font-family: 'NotoSansArabic_Medium', sans-serif
                font-size: 12px

            &:last-child
                font-family: 'NotoSansArabic_SemiBold', sans-serif

.success__message
    display: none
    text-align: center
    padding: 30px 24px 80px

    span
        display: block
        font-family: 'NotoSansArabic_Medium', sans-serif
        margin-bottom: 30px
