.expenses-page
    overflow: hidden

    & > .page__layout > .page__layout__nav
        display: none

        @media (max-width: 768px)
            display: flex

    .control-panel__bottom-bar
        form
            width: 100%
            padding: 12px 24px

            label
                font-size: 12px
                color: #242424

            .form-control
                margin-bottom: 10px

            textarea
                resize: none

            .btn-lg
                width: 100%
                font-size: 1rem
                border-radius: 28px
                padding: 0.975rem 3rem
