.invoices-page{
    .product-item-in-list--counter{
        width: 10%;
        position: relative;
        right: -9%;
    }
    .right-content-data{
        max-height: 66vh;
    }
    .searchInput{
        &.grayscale{
            cursor: default;
            background-color: $white;
            border-top: 2px solid #f2f2f2;
            border-bottom: 2px solid #f2f2f2;
            border-left: 0;
            border-right: 0;
            border-radius: 0;
            margin: 10px 0;
            width: 100%;
        }
        input{
        cursor: default;
        color: #757575;
            &::placeholder{
                color: #757575;
            }
        }
        svg{
            fill:#757575
        }
    }
    .flex-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    .appbar{
        background-color: $white;
        span{
            color: $black;
        }
        &.invoice .appbar-number--box{
            border-color: $black;
        }
     .appbar-menu-btn{
         svg{
             g{
                 circle{
                     fill: $black;
                 }
             }
         }
         &:hover{
             background-color: #F0F0F0;
         }
     }   
    }
    .pay-receive-list-item--details{
        width: 28%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .products-list-container{
        height: 83%;
    }
    .checkout{
        overflow: hidden;
        min-height: 10.5%;
        height: auto;
        .checkout-chart-btn{
            width: 3rem;
            height: 0.5rem;
            cursor: pointer;
            background-color: #CBD0D6;
            position: absolute;
            top: 1rem;
            left: 0;
            right: 0;
            border-radius: 20px;
            margin: 0 auto;
            position: absolute;
            z-index: 222;
        }
    }

    .checkout-list--item {
        opacity: 0;
        display: none;
        .red-text{
              padding-left: 7.5%;
        }
        &-left{
            &--price{
                font-family: 'bold',Arial, Helvetica, sans-serif;
            }
        }
        &.total-final{
        opacity: 1;
        display: flex;
        &::before{
            display: none;
        }
            span{
                font-size: 2rem;
                color: $black;
            }
        }
        &:nth-last-child(1){
            &::before{
                display: none;
            }
        }
    }
    .total-payments--paid .number span,
    .total-payments--received .number span{
        font-family: 'reg',Arial, Helvetica, sans-serif;

    }
    .total-payments--paid .number span:nth-child(2),
    .total-payments--received .number span:nth-child(2){
        font-family: 'reg',Arial, Helvetica, sans-serif;
    }

    .total-payments--received .number .title{
        color: #757575 !important;
        font-family: 'reg';
    }
    .total-payments--received .number .price{
        color: $black !important;
        font-family: 'reg';
        font-size: 2rem;
    }
}