.maintenance-page {
    .statusPopup{
        opacity: 0;
        display: none;
    }
    .accordion-container .accordion .accordion-button{
        background: transparent;
    }
    .accordion-information-list--item{
        background: #F5F5F5  !important;
        margin: 1rem 0;
        padding: 1rem 1rem !important;

    }
    .leftnewContent .page__layout__nav a.active span{
        color: #fff;
    }
    .leftnewContent .page__layout__nav a{
    .numberCircle{
        border: 1px solid #c3c3c3;
        background: transparent;
    }
    }
    .leftnewContent .page__layout__nav a.active {
        .numberCircle{
            border: none;
            background: #F2F2F2;
            span{
                color: $blue
            }
        }
        }
        // .layout-right{
        //     background-color: red;
        // }

    .leftnewContent .page__layout__nav a span{
        color: #c3c3c3;
    }
    .greenBG{
        background-color: #2BAB5A !important;
    }
    .blueBG{
        background-color: #1877F2 !important;
    }
    .redBG{
        background-color: #2BAB5A !important;
    }
    .deliveredRequests-leftSide-MultiTabs{
        .page__layout__nav {
            display: block;
            padding: 0;
        }
    }

    #addNew_client{
        display: none;
    }
    .withNumber{
        position: relative;
    }
    .device-issues{
        @include flex-center;
        justify-content: space-around;
        flex-wrap: wrap;
        &--issue{
            width: 8rem;
            height: 2.5rem;
            border:1px solid #4d4d4d;
            border-radius: 2rem;
            // margin: 1em 0;
            @include flex-center;
            span{
                color:$black ;
            }
        }
    }
    .numberCircle{
        position: absolute;
        width: 2.5rem;
        height: 2.5rem;
        background-color: #fff;
        border-radius: 50%;
        right: -30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .numberCircle span{
        font-size: 1.2rem;
    }
    .deliverdTabs-multitabs{
        display:none
    }
    .right-content-data {
        max-height: 66vh;
        @media screen and (max-height:700px){
            max-height: 59vh;
        }
    }

    .searchInput {
        &.grayscale {
            cursor: default;
            background-color: #fff;
            border-top: 2px solid #f2f2f2;
            border-bottom: 2px solid #f2f2f2;
            border-left: 0;
            border-right: 0;
            border-radius: 0;
            margin: 10px 0;
            width: 100%;
        }
        &.halfSearchInput{
            width: 65% ;
        }

        input {
            cursor: default;
            color: #757575;

            &::placeholder {
                color: #757575;
            }
        }

        svg {
            fill: #757575
        }
    }

    .flex-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

    .appbar {
        background-color: #fff;
        @include mediaMixin(desktop){
            font-size:7px;
        }
        span {
            color: #fff;
        }

        &.invoice .appbar-number--box {
            border-color: $black;
        }

        .appbar-menu-btn {
            svg {
                g {
                    circle {
                        fill: $black;
                    }
                }
            }

            &:hover {
                background-color: #F0F0F0;
            }
        }
    }

    .pay-receive-list-item--details {
        width: 28%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        span{
            margin: 0 10px;
        }
    }

    .products-list-container {
        height: 83%;
    }
    .clients-list {
        display: none;
    }
    .checkout {
        overflow: hidden;
        min-height: 10.5%;
        height: auto;
        // bottom:25px;
        .checkout-chart-btn {
            width: 3rem;
            height: 0.5rem;
            cursor: pointer;
            background-color: #CBD0D6;
            position: absolute;
            top: 1rem;
            left: 0;
            right: 0;
            border-radius: 20px;
            margin: 0 auto;
            position: absolute;
            z-index: 222;
        }

        left: 0;
        right: 0;
        margin: 0 auto;
    }

    .checkout-list--item {
        opacity: 0;
        display: none;
        
        .red-text {
            padding-left: 7.5%;
            @include mediaMixin(lgDesktop){
                padding-left: 1.5% !important;
            }
            @include mediaMixin(desktop){
                padding-left: 1.5% !important;
            }
        }

        &-left {
            &--price {
                // font-family: 'bold', Arial, Helvetica, sans-serif;
            }
        }

        &.total-final {
            opacity: 1;
            display: flex;

            &::before {
                display: none;
            }

            span {
                font-size: 2rem;
                color: $black;
            }
        }

        &:nth-last-child(1) {
            &::before {
                display: none;
            }
        }
    }

    .total-payments{
        .total-deliveredRequests{
            display: block !important;
        }
    }

    .total-payments--paid .number span,
    .total-payments--received .number span {
        // font-family: 'reg', Arial, Helvetica, sans-serif;

    }

    .total-payments--paid .number span:nth-child(2),
    .total-payments--received .number span:nth-child(2) {
        // font-family: 'reg', Arial, Helvetica, sans-serif;
    }

    .total-payments--received .number .title {
        color: #757575 !important;
        // font-family: 'reg';
    }

    .total-payments--received .number .price {
        color: $black !important;
        // font-family: 'reg';
        font-size: 2rem;
    }

    .appbar.invoice {
        height: 6.2rem;
    }

    .layout-left--container .left-content-data {
        height: 100%;
    }

    .invoice {
        height: 96%;

        .accordion-container {
            height: 88%;

            /* background: red; */
            .accordion .accordion-item:first-of-type .accordion-button {
                padding-right: 11%;
                position: relative;
                color: $black;
                font-size: 1.6rem;
            }

            .accordion .accordion-button::after {
                right: 20px;
            }

        }
        .accordion {
            .accordion-deliverdRequests--maintenanceInfo {
                display: none;
            }
            .accordion-information-list--item {
                .branch {
                    text-decoration: underline
                }

                .device-maintenance {
                    @include flex-center;
                    justify-content: flex-start;
                    flex-wrap: wrap;

                    &--item {
                        width: 8rem;
                        height: 2.5rem;
                        background-color: #F2F2F2;
                        border-radius: 2rem;
                        margin: 1rem 0.5rem;
                        @include flex-center;

                        span {
                            color:$black ;
                        }

                        &.maintenance--done {
                            background-color: #B7EBF5;
                        }
                        
                        &.maintenance--delivered {
                            background-color: #B9F1D2;
                        }
                    }
                } 
            }
        }
        padding: 0 20px;
    }

    // --------------------------
    .overlay {
        opacity: 0;
        width: 0vw;
        bottom: 0;
    }



    .deviceInformation-header {
        position: relative;
        width: 100%;
        height: 5.5rem;
        border-bottom: 1px solid $blue;
        display: flex;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 1.6rem;
            color: $blue;
            display: none;
        }

        &.only-text {
            h1 {
                display: block;
            }
        }
    }

    .accordion-information-list {
        ul {
            list-style: none;
            padding: 0;
        }

        &--item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;

            .name {
                font-weight: normal;
                font-size: 12px;
                font-size: 1.4rem;
                text-align: right;
                color: #000;
                flex-basis: 65%;
            }

            .title {
                font-weight: 500;
                font-size: 1.4rem;
                text-align: right;
                color: $darkGray;
            }
        }
    }

    .checkout {
        // bottom: 20px;
        .payments-buttons{
            display: none;
          
        }
        &.active-request {
            .payments-buttons{
                display: flex;
                margin-top: 0;
                top: 15px;
                bottom: auto;
            }
            .checkout-chart-btn{
                display: none;
            }
            .checkout-list {
                display: none;
            }

            .payments-buttons-receive,
            .payments-buttons-pay {
                width: 45%;
            }

            .payments-buttons-pay {
                max-width: 31%;
                svg{
                    padding: 0px;

                }
                span {
                    color: $red
                }

                &:hover {
                    span {
                        color: #fff;
                    }

                    svg {
                        g {

                            circle,
                            line {
                                stroke: #fff
                            }
                        }
                    }

                }
            }

            .payments-buttons-receive {
                border: 1px solid $blue;
                width: 55%;

                span {
                    color: $blue;
                }

                svg {
                    padding-left: 0;
                    padding-bottom: 0;
                }

                &:hover {
                    background-color: $blue;

                    span {
                        color: #fff;
                    }

                    svg {
                        g {

                            circle,
                            path {
                                stroke: #fff
                            }
                        }
                    }

                }
            }
        }
    }
    .total-payments--paid .number, .total-payments--received .number{
        align-items: center;
    }
    .filter ul li{
        cursor: pointer;
    }
    .ivoice-in-multitabs{
        .products-list-container{
            height: 65vh;
        }
        padding: 0 !important;
        .product-item-in-list--counter{
            right: 0%;
            width: 105px;
        }
    }
    .activeRequest-leftSide-oneTab{
        height: 100%;
        overflow-y: scroll;
        // display: none; // remove this
        @include scroll-bar;
    }
    @media screen and (max-height:700px) {
        .clients-list--individuals.active{
            overflow-y: scroll;
            height: auto;
            max-height: 62vh;
            @include scroll-bar;
        }
        .invoice{
            height: 92%;
        }
        .checkout{
            min-height: 13.5%;
        }
        .ivoice-in-multitabs .products-list-container{
            max-height: 50vh;
        }
    }
    .deliverdTabs-multitabs{
        .products-list-container{
            padding: 0px;
            @media screen and (max-width:1400px) {
                height: 60vh;
            }
        }
    }
    .finishOrderTabs{
        display: block;
        .infinishORderTabs{
            margin-top: 1%;
            padding: 0;
            .products-list-container{
                padding: 0;
            }
            .product-item-in-list--data{
                width: 32%;
                input{
                    padding: 2px;
                    margin-bottom: 2px;
                    border: 1px solid #707070;
                    box-shadow: none;
                    border-radius: 3px;
                    font-size: 14px;
                }
                .bandName{
                    width: 100%;
                }
                .secondInput{
                    width: 50%;
                }
            }

            
        }
        .clients-list--individuals{
            display: block !important;
            &.active{
                display: block;
            }
        }
        .client_invoiceInOrder{
            .addRow{
                width: 100%;
                height: 5rem;
                border-radius: 40px;
                border-color: $blue;
                border: 1px solid $blue;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                span{
                    font-size: 1.6rem;
                    color: $blue;
                }
               
            }
        }
    }
.client_invoiceInOrder {
    min-height: 70vh;
    height: 70vh;
}

}