.sales-page
    overflow: hidden

    & > .page__layout > .page__layout__nav
        display: none

        @media (max-width: 768px)
            display: flex

    .clients-list
        display: none
