.sales-page
    overflow: hidden

    & > .page__layout > .page__layout__nav
        display: none

        @media (max-width: 768px)
            display: flex

    .clients-list
        display: none

#add_discount_modal
    .currency-symbol,
    .percentage-symbol
        &::before
            font-size: 14px
            color: #4080FF
