.btn--receive-cash{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $blue;
    border-radius: 28px;
    // padding: 0 0 0 10px;
    cursor: pointer;
    text-decoration: none;
    color: $white;
    grid-column: 2;
    grid-row: 1;
    padding: 14px 28px;
    line-height: 1.3;

    &:hover {
        color: $white;
        background-color: lighten($blue, 5%);
    }
    
    span {
        &:first-child {
            font-family: 'NotoSansArabic_Medium';
            font-size: 16px;
        }
        &:last-child {
            font-size: 22px;
            font-family: 'NotoSansArabic_SemiBold';
        }
    }
}