.btn--receive-payment{
    position: relative;
    @include flex-center;
    width: 56px;
    height: 56px;
    background-color: $lightGray2;
    border-radius: 12px;
    cursor: pointer;
    grid-column: 1;
    grid-row: 1;

    svg {
        width: 32px;
    }
}