.maintenance-page
    .control-panel
        &__header,
        &__tabs
            background-color: #4DCDE6

        &__header
            .dropdown-toggle
                &:hover
                    background-color: darken(#4DCDE6, 10%)

                &.show
                    svg
                        fill: #4DCDE6

                    &:hover
                        background-color: $color-white

                    svg
                        fill: #4DCDE6

        &.returned-request
            .control-panel__header,
            .control-panel__tabs
                background-color: #FF6B73

            .control-panel__header
                .dropdown-toggle
                    &:hover
                        background-color: lighten(#FF6B73, 5%)

                    &.show
                        svg
                            fill: #FF6B73

                        &:hover
                            background-color: $color-white

                        svg
                            fill: #FF6B73

        &:not(.page__layout > .control-panel)
            .select-item
                border-bottom: 1px solid #efefef

        .control-panel__content
            &[data-content]
                &:not(.content--shown)
                    height: 0
                    opacity: 0
                    pointer-events: none

    .previous-devices--dropdown
        padding: rem(6px) rem(24px) rem(10px)

        .dropdown-toggle
            display: inline-flex
            align-items: center
            gap: rem(5px)
            font-size: rem(14px)
            color: #4D4D4D

            .count
                font-size: rem(12px)
                background-color: #fff
                border-radius: rem(25px)
                padding: 0 rem(5px)

        .dropdown-menu
            padding: rem(15px)

            .form-check
                display: flex
                align-items: center
                gap: rem(10px)
                padding: 0
                margin-bottom: rem(10px)

                .form-check-input
                    margin: 0

                .form-check-label
                    white-space: nowrap

.maintenance-page,
.delivered-devices-page
    .page__layout
        & > .control-panel
            .control-panel__header
                color: inherit
                background-color: $color-white

            .control-panel__close-btn
                background-color: #F5F5F5

                svg
                    fill: inherit

                &:hover
                    background-color: darken(#F5F5F5, 5%)

                    svg
                        fill: lighten(#060505, 20%)

.total-parts
    display: flex
    flex-direction: column
    border-top: 1px solid #efefef

    li
        display: flex
        align-items: center
        justify-content: space-between
        height: rem(56px)
        padding: rem(10px) rem(20px)

        &:not(:last-child)
            border-bottom: 1px solid #efefef

        h5
            font-size: rem(14px)

        .total-parts__amount
            font-size: rem(22px)

            [dir="rtl"] &
                font-family: 'NotoSansArabic_SemiBold', sans-serif

            [dir="ltr"] &
                font-family: 'NotoSans_SemiBold', sans-serif

.device-issues
    display: inline-flex
    font-size: rem(11px)
    border: 1px solid #060505
    border-radius: rem(14px)
    padding: 0.313rem 0.6rem

    &:not(:last-child)
        margin-inline-end: rem(5px)

    [dir="rtl"] &
        font-family: 'NotoSansArabic_Medium', sans-serif

    [dir="ltr"] &
        font-family: 'NotoSans_Medium', sans-serif

.maintenance-statistics
    display: flex
    flex-direction: column
    align-items: center
    gap: rem(5px)

    .statistics__title
        font-size: rem(12px)
        margin-bottom: 0

    .statistics__count
        line-height: 1
        font-size: rem(22px)

        [dir="rtl"] &
            font-family: 'NotoSansArabic_SemiBold', sans-serif

        [dir="ltr"] &
            font-family: 'NotoSans_SemiBold', sans-serif

.spare-parts
    position: absolute
    inset: 0
    display: flex
    flex-direction: column
    background-color: $color-white
    border-left: 1px solid #E4E6EB
    border-right: 1px solid #E4E6EB
    opacity: 0
    pointer-events: none
    transition: opacity 200ms ease-in-out, transform 350ms ease-in-out

    [dir="rtl"] &
        transform: translateX(-100%)

    [dir="ltr"] &
        transform: translateX(100%)

    &__header
        display: flex
        align-items: center
        gap: rem(10px)
        position: sticky
        top: 0
        height: rem(52px)
        min-height: rem(52px)
        flex: 0 0 rem(52px)
        padding: 0 rem(22px)

        h4
            font-size: rem(14px)
            margin-bottom: 0

    .spare-parts--shown &
        opacity: 1
        pointer-events: auto
        transform: translateX(0)

.outside-piece--btn
    display: flex
    align-items: center
    gap: rem(5px)

    span
        &:last-child
            +flex-center
            min-width: rem(18px)
            min-height: rem(18px)
            font-size: rem(12px)
            +var(color, color-text-primary)
            background-color: $color-white
            border-radius: rem(9px)

.close--btn
    +flex-center
    width: rem(48px)
    height: rem(48px)
    border-radius: 50%
    transition: background-color 0.3s

    &:hover
        background-color: #F5F5F5

    svg
        fill: inherit

.content__filters
    +flex-center
    gap: rem(15px)
    width: 100%
    min-height: rem(44px)
    padding: 0 rem(24px)

.content__filter__item
    +flex-center
    flex: 1 1 100%
    gap: rem(5px)
    font-size: rem(12px)
    text-decoration: none
    border: 1px solid #A3AAB2
    border-radius: rem(16px)
    padding: 0.375rem 0.5rem
    transition: all 0.3s

    &:hover
        color: darken(#4D4D4D, 35%)

.content__filter__item__title
    color: #4D4D4D
    transition: color 0.3s

.content__filter__item__count
    +flex-center
    min-width: rem(18px)
    min-height: rem(18px)
    +var(color, color-text-primary)
    background-color: #F5F5F5
    border-radius: rem(9px)
    padding: 0 rem(5px)
    transition: all 0.3s

.selected--filter
    background-color: #F5F5F5
    border-color: #F5F5F5

    .content__filter__item__title
        +var(color, color-text-primary)

    .content__filter__item__count
        background-color: $color-white

.invoice__list
    [data-filter]
        display: none

.variable-item
    display: flex
    padding: 0 rem(22px)
    margin-bottom: rem(15px)

    a
        flex: 1 1 100%
        border-radius: rem(8px)
        padding: 0.725rem 1.25rem

.product__quantity__control
    display: flex
    justify-content: center
    align-items: flex-end
    gap: rem(10px)

    .product__quantity__input
        display: flex
        flex-direction: column
        align-items: center
        max-width: rem(90px)

        .form-control
            text-align: center
            background-color: #eef1f4
            border: none

            &:focus
                box-shadow: none

    .product__quantity__increment,
    .product__quantity__decrement
        +flex-center
        width: rem(32px)
        height: rem(32px)
        background-color: #F5F5F5
        border-radius: 50%
        margin-bottom: rem(6px)

        svg
            width: rem(16px)
            height: rem(16px)

.maintenance-invoice-page
    .select-item
        border-bottom: 1px solid #efefef

.returned-detail
    display: flex
    align-items: center
    gap: rem(5px)

    .invoice-id
        color: #FF6B73
        font-size: rem(12px)
        text-decoration: underline
