.accordion-container {
    height: 100%;
    // min-height: 70rem;
    // max-height: 70rem;
    // background: red;
    // overflow-y: auto;

    .accordion {
        .accordion-body {
            padding: 0;
        }

        .accordion-item:last-of-type .accordion-collapse {
            border: none;
        }
        
        .accordion-button {
            background-color: $gray5;
            padding: 20px;
            border: none;
            font-size: 1.2rem;
            &::after {
                left: 20px;
                position: absolute;
            }
            &:focus {
                box-shadow: none;
            }
        }

        .accordion-item:first-of-type .accordion-button {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        .accordion-collapse{
            border: none;
        }
    }
}