.calculator {
    max-width: 368px;
    margin: auto;
    margin-top: 65.5px;
    direction: rtl;
    font-size: 1rem;
    label {
        font-size: 1.4em;
        font-family: 'reg', Arial, Helvetica, sans-serif;
    }

    &--select-paymentMethod {
            position: relative;
            input {
            width: 100%;
            padding: 15px;
            border-radius: 10px;
            margin-top: 6px;
            -webkit-box-shadow: none;
            box-shadow: none;
            border: 1px solid $gray6;
            font-size: 1.6em;
            margin-bottom: 3em;
        }
        &--caret{
            position: absolute;
            left: 2em;
            top: 4.8em;

        }
    }

    &--received-amount {
        position: relative;
        width: 100%;
        height: 7em;
        border: 1px solid $gray6;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        background-color: $white;
        align-items: center;
        margin-top: 6px;
        padding: 0 1em;
        &:focus,
        &:hover{
            border: 1px solid $blue;
        }
        input {
            height: 100%;
            border: none;
            background: transparent;
            font-size: 1.6em;
            width: 40%;
            color: $darkGray;
        }

        &-currency {
            display: flex;
            height: 100%;
            justify-content: flex-end;
            align-items: center;

            &-number {
                width: 5em;
                height: 3em;
                border-radius: 8px;
                background-color: #E2E2E4;
                overflow: hidden;
                margin: 10px 0;
                cursor: pointer;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.6em;
            }
            label {
                margin-left: 1em;
                color: $blue;
            }
        }
    }

    &--buttons-container{
        @include flexCenter;
        // flex-wrap: wrap;
        flex-direction: column;
        margin-top: 10px;
        direction: ltr;
        .cal-row{
            @include flexCenter;
            flex-direction: row;
            width: 100%;
            justify-content: space-between;
        }
        .btn-calc{
            width: 10.8em;
            height: 6.4em;
            border-radius: 8px;
            background-color: #E2E2E4;
            overflow: hidden;
            margin: 10px 0;
            cursor: pointer;
            input{
                width: 100%;
            cursor: pointer;
            height: 100%;
                background: transparent;
                border: none;
                font-size: 1.6em;
                text-align: center;
                color: $black;
            }
            &:hover{
                background-color: $gray4;
            }
        }
    }
    .bill-btn-container{
        width: 100%;
    }
    .btn--receive-cash{
        width: 100%;
        direction: rtl;
    }
}