.clients-list {
    flex-direction: column;
    // height: calc(100vh - 52px);

    .customers-tab-content {
        display: none;

        &.active {
            display: block;
        }
    }
    &--container {
        overflow-y: auto;
        @include scroll-bar;
    }
    &-users  {        
        &-item {
            &-price {
                font-family: 'NotoSansArabic_SemiBold';
                font-size: 1rem;
                margin-right: auto;
            }
        }
    }

}