.clients-list
    flex-direction: column

    &--container
        overflow-y: auto
        +scroll-bar

        & > *
            flex-direction: column

    &-users
        &-item
            &-price
                font-family: 'NotoSansArabic_SemiBold', sans-serif
                font-size: 1rem
                margin-right: auto
