.customer-card{
    height: 40.3em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // max-width: 30em;
    margin: 0 auto;
    background-color: $lightBlue;
    display: none;
    border-radius: 16px;
    align-items: flex-start;
    padding: 5% 5%;
    .content{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        .big-circle{
            width: 15em;
            height: 15em;
            background-color: $waterBlue;
            padding: 5px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                width: 100%;
                max-height: 116.422px;
                height: 100%;
                @media (-webkit-min-device-pixel-ratio: 1.25) and  (-webkit-max-device-pixel-ratio: 1.50){ 
                    padding: 10px;
                }
                @media (-webkit-min-device-pixel-ratio: 2.30) and  (-webkit-max-device-pixel-ratio: 2.80){ 
                    padding: 10px;
                }
            }
            // .small{
            //     width: 100%;
            //     height: 100%;
            //     background-color: $gray4;
            //     border-radius: 50%;
            // }
        }

    }
    &--user-data{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 25px;
        &-username{
            font-size:2em;
            margin-bottom: 10px;
        }
        &-cost{
            font-size: 2.6em;
            font-family: 'med';
        }
    }
    &--invoice-details{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row-reverse;
        &--last-payment{
            color: $black;
            font-family: 'med';
            font-size: 1.8em;
        }
        &--date{
            color: $darkGray;
            font-size: 1.8em;
        }
        &--price{
            font-size: 1.8em;
            color: $black;
            font-family: 'bold';
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row-reverse;
            span{
                font-size: 1.8em;
            }
            .increaseicon{
                width: 2em;
                margin: 0 0.5em;
                height: 2em;
             
            }
        }

    }
}