.page__layout
    position: relative
    min-width: 100%
    height: 100%

    @media (min-width: 1025px)
        @include var(padding-right, main-menu-width)

    &__row
        display: grid
        // grid-template-columns: 2fr minmax(415px, 1fr)
        grid-template-columns: 2fr 415px
        grid-template-rows: 1fr

        @media (min-width: 1200px)
            grid-template-columns: 2fr 500px

        @media (max-width: 992px)
            grid-template-columns: 1fr 1fr

        @media (max-width: 768px)
            grid-template-columns: 1fr

    &__col
        display: grid
        grid-template-columns: 1fr
        grid-template-rows: auto auto 1fr
        align-content: start
        max-height: 100vh

        &.active
            display: grid

        @media (max-width: 768px)
            display: none
            height: calc(100vh - 48px)

        & > footer
            +flex-center
            height: 72px
            background-color: #F5F5F5
            border-top: 1px solid #dbe1e5
            margin-top: auto

    header
        display: flex
        align-items: center
        min-height: 52px
        padding: 0 22px

        // @media (min-width: 1024px)
        //     height: 72px
        // 

        .main-menu__toggle
            display: none
            margin-left: 15px
            @media (max-width: 1024px)
                display: block

        .page__title
            margin-bottom: 0
            a
                text-decoration: none
                color: inherit

    & > header
        position: sticky
        top: 0
        background-color: #fff
        z-index: 998

    &__scrollable-content
        overflow-y: auto
        @include scroll-bar
        scroll-behavior: smooth

    & > .control-panel
        position: fixed
        top: 0
        right: 100%
        width: 415px
        z-index: 9999
        transition: transform 0.3s cubic-bezier(0.8,-0.21, 0.35, 0.32)

        @media (min-width: 1200px)
            width: 500px

        .control-panel__close-btn
            +flex-center
            width: 48px
            height: 48px
            background-color: rgba(255, 255, 255, 0.15)
            border-radius: 50%
            margin-right: auto
            transition: background-color 0.3s

            &:hover
                background-color: rgba(255, 255, 255, 0.30)

            svg
                fill: $color-white

    .control-panel__bottom-bar
        label
            font-size: 12px
            color: #242424

        textarea
            resize: none

        .btn-lg
            width: 100%
            font-size: 1rem
            border-radius: 28px
            padding: 0.875rem 3rem

    .form-container
        max-width: 670px
        padding: 20px 15px
        margin: auto

main
    &.has__slidable__cp
        position: relative
        height: 100vh
        overflow: hidden

        &::after
            content: ""
            position: absolute
            inset: 0
            z-index: 999
            background-color: transparent
            pointer-events: none
            transition: background-color 0.3s

        &.control-panel--shown
            &::after
                pointer-events: auto
                background-color: rgba(6, 5, 5, 0.35)

            .control-panel
                transform: translateX(100%)
