.pay-receive{
  font-size: 1rem;
  @media screen and (max-width:768px) {
    font-size: 0.8rem;
  }
  @media screen and (max-width:280px) {
    font-size: 0.7rem;
  }

    &-list{
        width: 100%;
        list-style: none;
        overflow-y: auto;
        max-height: 65em;
        padding: 0;
        @include scroll-bar;

        &-item {
            height: 7.4em;
            display: flex;
            align-items: center;
            margin-bottom: 0.5em;
            padding: 0 2em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            cursor: pointer;

            &:hover {
              background-color: #fff;
              border-radius: 8px;
              .increaseicon  {
                box-shadow: 0 0 5px #eee;
              }
            }
            span {
              font-size: 1.6em;
            }
            &--budget {
              display: flex;
              justify-content: space-between;
              align-items: center;
              flex-grow: 0.06;
              flex-direction: row-reverse;
              span{
                display: none;
                color: #fff;
              }
              &.maintenance-process{
                background: #B1E5EF;
                display: flex;
                justify-content: center;
                align-items: center; 
                padding: 10px;
                border-radius: 25px;
                max-width: 126px;
              }
              &.maintenance-process .maintenance-process-data{
                display: block !important;
                  color: $black;
              }
              &.delivered-done{
                background: #B3EBCC;
                display: flex;
                justify-content: center;
                align-items: center; 
                padding: 10px;
                max-width: 126px;
                border-radius: 25px;
              }

              &.delivered-done .delivered-done-data{
                display: block !important;
                color: $black;
              }
              // &-icon{
              //   width: 4.4em;
              //   height: 4.4em;
              //   background-color: #fff;
              //   border-radius: 50%;
              //   display: flex;
              //   justify-content: center;
              //   align-items: center;
              //   img{
              //     height: 50%;
              //   }
              //   &.increase{
              //     img{
              //       padding-right: 3px;
              //       padding-top: 5px;
              //     }
              //   }
              //   &.decrease{
              //     img{
              //       padding-left: 3px;
              //       padding-bottom: 3px;
              //     }
              //   }
              // }
            }
          }

    }
}