.products__list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 16px;
    transition: all 0.4s ease-in;
    padding: 10px 22px 20px 15px;

    // @media (max-width: 1024px) {
    //     grid-template-columns: repeat(4, 1fr);
    // }

    &.listview__grid {
        grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
        gap: 12px;
    }
}

.product {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #E2E9F0;
    border-radius: 8px;
    cursor: pointer;
    padding: 3px;

    &__dropdown {
        position: absolute;
        right: 2px;
        top: 2px;

        &__btn {
            @include flex-center;
            width: 25px;
            height: 25px;
            background-color: transparent;
            border: none;
            border-radius: 50%;
            padding: 0px;

            &:hover {
                background-color: #C6CFD9;
            }

            &::after {
                display: none;
            }

            svg {
                fill: #060505;
                width: 2.7px;
            }
        }

        &__menu {
            font-size: 14px;
            text-align: right;

            li {
                
                a {
                    svg {
                        width: 15px;
                        fill: #060505;
                        margin-left: 5px;
                    }
                    &:active {
                        background-color: var(--color-brand);
                        svg {
                            fill: #fff;
                        }
                    }
                }
            }
        }
    }

    &__image {
        width: 100%;
        height: 50%;
        max-height: 90px;
        overflow: hidden;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__details {
        // width: 100%;
        // height: 30%;
        padding: 5px 8px;
    }

    &__title {
        font-family: 'NotoSansArabic_Medium';
        font-size: 14px;
        @include line-clamp(1.5, 2);
        margin-bottom: 20px
    }

    &__price {
        display: block;
        font-size: 12px;
    }

    &__quantity {
        position: absolute;
        left: -7px;
        top: -7px;
        display: none;
        width: 24px;
        height: 24px;
        font-size: 11px;
        color: #fff;
        background-color: $blue;
        border-radius: 50%;
    }
    &--selected {
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border: 3px solid $blue;
            border-radius: 8px;
            pointer-events: none;
        }
        .product__quantity {
            @include flex-center;
        }
    }

    &.listview {
        .product__details {
            width: 85.3%;
            height: 100%;
            justify-content: space-around;
            
            p {
                margin-bottom: 0;
                opacity: 1;
                display: block;
                width: 95%;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        .product__image {
            // width: 34%;
            height: 87%;
        }
    }
}