// This card used to display all products in main right layout 

.product-card {
    position: relative;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    // width: 20.16em;
    // height: 28.8em;
    // max-height: 28.8em !important;
    background-color: $white;
    border: 3px solid transparent;
    border-radius: 0.8em;
    cursor: pointer;
    // overflow: hidden;
    padding: 2px;
    // margin: 13px 5px;

    &--selected-card {
        display: none;
    }
    &.selected {
        border: 3px solid $blue;
        .product-card--selected-card {
            position: absolute;
            left: -8px;
            top: -10px;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            background-color: $blue;
            display: flex;
            justify-content: center;
            align-items: center;
            span {
                color: $white;
                font-family: 'med';
                font-size: 1.5em;
            }
        }
    }

    &-dropdown-menu {
        .dropdown-menu {
            font-size: 1em;
            width: 25.7em;
            text-align: right;
            li {
                height:4.5em ;
                @include flex-center;
                
                a {
                    height: 100%;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 1.6em;

                    span {
                        margin-right: 1rem;
                        position: relative;
                    }

                    &:hover {
                        background-color: $veryLightBlue;
                    }
                }
            }
        }
    }

    &--btn {
        position: absolute;
        right: 0;
        top: 0;
        width: 3.6em;
        height: 3.6em;
        background-color: transparent;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
        background-color: #E3E6E9;

        }
        svg {
            height: 50%;
        }
    }

    &--image {
        height: 50%;
        width: 100%;
        overflow: hidden;
        border-top-left-radius: 0.8em;
        border-top-right-radius: 0.8em;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--details {
        height: 50%;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
        padding: 0 10px;
        
        &-title {
            text-align: right;
            font-size: 1.8em;
            font-family: 'med',Arial, Helvetica, sans-serif;
        }

        &-price {
            font-size: 1.6em;
            // font-family: 'bold';
        }

    }

    &.listview {
        .product-card--details {
            height: 100%;
            justify-content: space-around;
            width: 85.3%;
            
            p {
                margin-bottom: 0;
                opacity: 1;
                font-size: 1.6em;
                display: block;
                width: 95%;
                white-space: nowrap;
                overflow: hidden;
            }
        }
        .product-card--image {
            // width: 34%;
            height: 87%;
        }
    }
}

