.products-card-list{
    position: relative;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-wrap: wrap;
    width: 100%;
    font-size: 0.9rem;
    transition: all 0.4s ease-in;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
    
    @include mediaMixin(xxxlScreen) {
        font-size:  0.91rem;
    }
    @include mediaMixin(xxlScreen) {
        font-size: 0.91rem;
    }
    @include mediaMixin(lgDesktop) {
        font-size:0.69rem;
    }
    @include mediaMixin(desktop){
        font-size:0.69rem;
    }
    @include mediaMixin(tabltes){
        font-size:0.76rem;
    }
    @include mediaMixin(smTabltes){
        font-size: 7px;
    }
    @include mediaMixin(mobile){
        font-size: 5px;
    }
}