// This products list used in main left layout to display all products in invoice that user choose it

.add-client__container {
    padding: 4px 24px;
}
.invoice__add-client {
    display: flex;
    align-items: center;
    width: 100%;
    height: 44px;
    text-decoration: none;
    border-radius: 22px;
    padding: 0 10px;

    svg {
        width: 24px;
        height: 24px;
    }
    span {
        font-size: 12px;
        color: #4D4D4D;
        margin-right: 10px;
    }
}

// .products-list-container {
//     max-height: calc(100vh - 52px - 52px - 255px);
// }

.products-list {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0;
    margin: 0;
    font-size: 1rem;
}

.product-item-in-list {
    position: relative;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    border-bottom: 1px solid $gray5;
    z-index: 1;

    &:last-child {
        border-bottom: none;
    }

    &::before {
        width: 0%;
        height: 100%;
        background-color: $gray8;
        position: absolute;
        transition: all 0.3s ease-in-out;
        content: '';
        right: 0;
        top: 0;
        z-index: -1;
    }
    &::after {
        width: 0.3rem;
        height: 0;
        background-color: $blue;
        position: absolute;
        right: 0;
        transition: all 0.2s ease-in-out;
        bottom: 0;
        content: '';
        z-index: 1;
    }
    &--data {
        width: 35%;
        margin-left: 10px;

        &-name {
            h3 {
                font-family: 'NotoSansArabic_Medium';
                font-size: 13px;
                @include line-clamp(1.5, 2);
            }
        }
        &-discountInput {
            font-size: 11px;
            span {
                text-decoration: line-through;
                color: $darkGray;
            }
            
            input {
                width: 5rem;
                border: none;
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
    
                &[type=number] {
                    background-color: transparent;
                    -moz-appearance: textfield;
                }
    
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    color: $black;
                }
    
            }
        }
    }

    &--counter {
        display: flex;
        align-items: center;
        gap: 5px;

        &-screen {
            width: 36px;
            height: 40px;
            background-color: $gray7;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;

            input {
                width: 100%;
                background: transparent;
                border: none;
                box-shadow: none;
                height: 100%;
                text-align: center;
                font-family: 'NotoSansArabic_Medium';
                font-size: 15px;
                color: #060505;
                padding: 0;
                margin: 0;
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                &[type=number] {
                    -moz-appearance: textfield;
                }
            }
        }

        &--minus,
        &--plus {
            @include flex-center;
            cursor: pointer;
            width: 28px;
            height: 28px;
            border-radius: 50%;
            opacity: 0;
            pointer-events: none;

            svg {
                width: 12px;
                height: 12px;
            }
            &:hover {
                background-color: $lightGray2;
            }
        }
    }

    &--discount {
        width: 24px;
        height: 24px;
        background-color: $lightRed;
        border-radius: 50%;
        padding: 0;
        margin: 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        margin: 0 auto 0 10px;

        &.add-discount {
            background-color: rgba(198, 207, 217, 0.3);

            span {
                display: none;
            }
            svg {
                width: 13px;
            }
        }
        &.number {
            width: max-content;
            border-radius: 25px;
            background-color: $lightRed;
            color: $lightRed2;
            font-size: 12px;
            padding: 0 5px;

            svg {
                display: none;
            }
        }

        &.final {
            background-color: $lightRed2;
            border-radius: 52px;
            width: 3.5rem;

            span {
                font-size: 1.2rem;
                color: $white;

            }
        }


    }

    &--price {
        font-family: 'NotoSansArabic_Medium';
        font-size: 15px;
        margin: 0 auto 0 10px;
    }

    &--delete {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        padding: 0;
        margin: 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        visibility: hidden;
        margin-right: auto;

        svg {
            width: 12px;
            height: 12px;
        }
        &:hover {
            background-color: $lightGray2;
        }
    }

    &:hover {
        .product-item-in-list--counter--minus,
        .product-item-in-list--counter--plus {
            opacity: 1;
            pointer-events: auto;
        }

        .product-item-in-list--discount {
            visibility: visible;
            opacity: 1;
        }

        .product-item-in-list--delete {
            visibility: visible;
            opacity: 1;
        }
        &::before {
            width: 100%;
        }
        &::after {
            height: 100%;
        }
    }

}