.products-card-list {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(145px, 1fr));
    gap: 8px;
    width: 100%;
    font-size: 0.9rem;
    transition: all 0.4s ease-in;
    padding: 10px 22px 20px 15px;

    &.listview__grid {
        grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
        gap: 12px;
    }
    
    @include mediaMixin(xxxlScreen) {
        font-size:  0.91rem;
    }
    @include mediaMixin(xxlScreen) {
        font-size: 0.91rem;
    }
    @include mediaMixin(lgDesktop) {
        font-size:0.69rem;
    }
    @include mediaMixin(desktop){
        font-size:0.69rem;
    }
    @include mediaMixin(tabltes){
        font-size:0.76rem;
    }
    @include mediaMixin(smTabltes){
        font-size: 7px;
    }
    @include mediaMixin(mobile){
        font-size: 5px;
    }
}