.receiveFromOut{
    width: 14%;
    background: #F5F5F5;
    padding: 1.8rem;
    border-radius: 36px;
    /* max-width: 15rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
}