.total-payments{
    position: absolute;
    height: 9.6rem;
    display: flex;
    font-size: 0.9rem;
    justify-content: space-evenly;
    align-items: center;
    border-top: 1px solid $gray6;
    bottom: 0;
    left: 0;
    background: whitesmoke;
    right: 0;
    &--paid,
    &--received
    {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row-reverse;
        .number{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            margin-right: 1.5em;
            span{
                font-size: 2.3em;
                font-family: 'bold';
                &:nth-child(2){
                font-size: 1.5em;
                font-family: 'thin';
                }
            }
        }
    }
}