:root {
  --darkreader-neutral-background: #131516;
  --darkreader-neutral-text: #d8d4cf;
  --darkreader-selection-background: #004daa;
  --darkreader-selection-text: #e8e6e3;
}


.list-unstyled {
  list-style: none;
  padding: 0;
  margin: 0;
}


* {
  box-sizing: border-box;
  outline: none !important;

  *:focus {
    outline: none !important;
  }

  user-select: none !important;
}
button {
  &:focus {
    box-shadow: none !important;
  }
}

body {
  background-color: $lightGray1 !important;
  direction: rtl;
}


.ltr {
  direction: rtl !important;
}

.ltr .sidemenu {
  right: auto;
  left: 0;
}

.ltr .page__layout {
  padding: 0 0 0 104px;

}

.pushLandR25 {
  padding: 0 25px;
}

.hide {
  display: none;
}


.preventClick {
  pointer-events: none !important;
}


.discount-number {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
  line-height: 1.2;
  background-color: $lightRed2;
  font-size: 14px;
  cursor: pointer;
  z-index: 4;
  border-radius: 52px;
  padding: 4px 8px;
  margin: 0;

  span {
    font-size: inherit !important;
    color: #fff !important;
  }
}


input{
&::-webkit-outer-spin-button,
&::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
&[type=number] {
  -moz-appearance: textfield;
}
}

.padding-10-lr {
  padding: 0 25px !important;
  width: 100% !important;
}



.new-btns-container,
.popup--invoice--body-footer{
  border-top: 1px solid #d4d4d4;
}

.popup--invoice--body-footer{
  padding-top: 1rem;
}