$white:#ffffff;
$blue:#1877F2;
$black:#212121;
$lightGray1:#F5F5F5;
$lightGray2:#F2F2F2;
$green:#51DC90;
$red:#FF545D;
$red2:#e64c54;
$darkGray:#757575;
$gray3:#f9fbfc;
$gray4:#CBD0D6;
$gray5:#F0F0F0;;
$gray6:#BDBEC3;
$lightBlue:#F1F9FF;
$waterBlue:#4DCDE6;
$gray7:#F1F2F5;
$lightRed:#FFE9F0;
$lightRed2:#FF8591;
$gray8:#FAFAFA;
$gray9:#F0F2F5;
$veryLightBlue:#E3F3FF;
$darkBlue:#0065E8;